.register {
  text-transform: capitalize;
  color: white;
  flex-direction: column;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 0.5em;

  button {
    box-sizing: border-box; 
    padding: 0.5em 3em;
    margin-left: 0.5em;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: rgb(66, 66, 66);
    }
  }

}